{% extends 'base.html' %}
{% block app_content %}
<body>
  <h1>{{ current_user.username }}</h1>

  <br>
  <h2>Режим</h2>
  <form method="POST" action="{{ url_for('main.mode_selection') }}">
        <input type="radio" id="option1" name="option" value="Обучение" required>
        <label for="option1">Обучение</label><br>
        
        <input type="radio" id="option2" name="option" value="Экзамен" required>
        <label for="option2">Экзамен</label><br>
        
        <div class="submit-button">
          <button type="submit">Получить задание</button>
        </div>
  </form>

  <textarea id="exercise-textarea" name="exercise-textarea" rows="10" cols="65" readonly>
    {% if selected_option %}
      {{ selected_option }}
    {% endif %}
  </textarea>
</body>
{% endblock %}
