{% extends 'base.html' %}
{% block app_content %}
<body>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Задание</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">Решение</a>
    </li>
  </ul>

  <br>
  <h1>{{ current_user.username }}</h1>
  <br>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h2>Режим</h2> <br>
      <form method="POST" action="{{ url_for('main.mode_selection') }}">
        <input type="radio" id="option1" name="option" value="Обучение" required>
        <label for="option1">Обучение</label><br>
        
        <input type="radio" id="option2" name="option" value="Экзамен" required>
        <label for="option2">Экзамен</label><br>

        <div class="submit-button">
          <button type="submit">Получить задание</button>
        </div>

        <textarea id="exercise-textarea-x" name="exercise-textarea-x" rows="10" cols="80" readonly>
          {% if x_data %}
            {{ x_data|safe }}
          {% endif %}
        </textarea>
    </div>

    <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
      <textarea id="result-textarea" name="result-textarea" rows="15" cols="90" readonly>
        {% if result_text %}
         {{ result_text|safe }}
        {% endif %}
      </textarea>
    </form>
    </div> 
</body>
{% endblock %}
