<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Course</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename = 'mainPageStyles.css') }}">
    
</head>

<body>
<form action="{{ url_for('redirect_to_next_page') }}" method="post">
    <header class="blue-header">
        <h1 class="main-label"> Courses </h1>
            <button class="test-button", type="submit">
                <p>Вход</p>
            </button>
    </header>

    <div class="navbar">
        <a class="dropdown-toggle"> Для преподавателей </a>
    </div>
</form>

    
    
</body>