<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Course</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename = 'mainPageStyles.css') }}">
    
</head>

<body>
    <header class="blue-header">
        <h1> Test </h1>
    </header>

    <form action="{{ url_for('redirect_to_next_page') }}" method="post">
        
        <button class="test-button", type="submit">
            <p>Press me</p>
        </button>
    </form>
    
</body>