.blue-header {
    background-color: #3498db; 
    color: #fff;
    padding: 15px;
}

.main-label {
    text-align:left;
}

.navbar{
    padding: 15px;
    width: auto;
    height: 70px;
    color: rgb(0, 0, 0);
    border: 1px;
    border-color: #982424;
    border-radius: 0px;
    background: #2a7ab0;
}

.dropdown-toggle {
    font-size: 20px;
}

.test-button {
    background-color:#3498db; 
    color: #000000;
    padding: 7px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute; 
    top: 30px; 
    right: 20px;
    border-radius: 25px;
}